<!--
    Debut nav
-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" style="background-color: #000; border-bottom: 3px solid #1d4589 !important;">
  <div class="container-fluid">
      <div class="container d-flex">
        <a class="navbar-brand text-white" href="#">{{ title }}</a>
        <button class="navbar-toggler ml-auto d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-block text-right" id="navbarSupportedContent" >
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Langage
              </a>
              <ul class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                <li *ngFor="let langage of mesLangages">

                  <!-- Route avec variable -->
                  <a [routerLink]="['/langage' , langage.id]" class="dropdown-item text-uppercase"> {{ langage.name }} </a>

                </li>
              </ul>
            </li>
            <li class="nav-item pointer" *ngIf="session === false">
              <a  class="nav-link text-white" (click)=toggle()>Connexion</a>
            </li>
            <li class="nav-item pointer" *ngIf="session === true">
              <a  class="nav-link text-white" routerLink="/" (click)=lougOut()>Déconnexion</a>
            </li>
            <li class="nav-item pointer" *ngIf="session === true">
              <a  class="nav-link text-white" routerLink="/admin" routerLinkActive="router-link-active" >Administration</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</nav>
<!--
    Fin nav
-->


