<div  class=" text-white my-border">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <ul class="d-flex justify-content-center">
                    <li class="mx-3">
                        <a href="https://geoffreyplet.com" target="_blank">Visité mon site web</a>
                    </li>
                    <li class="mx-3">
                        Projet Angular
                    </li>
                    <li class="mx-3">
                        <a href="https://github.com/GeoffreyPlet/speedlink" target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                Réaliser par Geoffrey Plet 
            </div>
        </div>
    </div>
   
</div>
