<div class="col-sm-12 col-lg-12 p-0 ">
    <div class="grid-img color-transparent color-tint-border shadow">
        <div class="filtre">
            <p class="link-description px-3">
                Retourver des liens utilies pour les développeur
            </p>
            <ul class="d-flex justify-content-center">
                <li>
                    Farmework
                </li>
                <li>
                    Langage
                </li>
                <li>
                    CMS
                </li>
            </ul>
        </div>
        
    
    </div>
</div>
