#body{
    background: white;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 52%;
    z-index: 4;
}
#back-body{
    position: fixed;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: #ffffffa3;
    top: 0;
    z-index: 3;
}